{% extends 'base.html.twig' %}

{% block body %}
<a class="button" href="create">Create</a>
<a class="button" href="read">Read</a>
<a class="button" href="update">Update</a>
<a class="button" href="delete">Delete</a>
{% endblock %}



