{% extends 'base.html.twig' %}

{% block body %}
    <p>Set ID of the element in the nav bar.</p>
    <p>example: http://localhost/update/1</p>
    <a class="button" href="/">Back</a>
{% endblock %}



